.wrapper {
    background-color: white;
    padding: 4px 12px;
    cursor: pointer;
    border: none;
}

.wrapper:hover {
    background-color: skyblue;
}

.active {
    background-color: steelblue !important;
}

.label {
    background-color: transparent;
}

.with--left--border {
    border-left: solid 1px black;
}
